<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head"></head>
<style>
    #popup {
    }
</style>
<body>
<!-- Navbar Start -->
<div th:fragment="navbar" class="container-fluid nav-bar bg-transparent" >
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a th:href="@{#}" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="/img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary">Houses</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a th:href="@{/login}" class="nav-item nav-link"  > Come to client site</a>
            </div>
        </div>

    </nav>
    <script>
        // Lấy đường dẫn URL hiện tại
        const currentUrl = window.location.pathname;

        // Lặp qua tất cả các liên kết trong navbar
        document.querySelectorAll('.nav-item.nav-link').forEach(link => {
            // So sánh đường dẫn URL của liên kết với đường dẫn URL hiện tại
            if (link.getAttribute('href') === currentUrl) {
                // Nếu trùng khớp, thêm lớp active vào liên kết
                link.classList.add('active');
            }
        });

    </script>
</div>
<!-- Navbar End -->

<div class="container-xxl bg-white p-5">

    <div class="container">
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Agent Registration</h2>
                </div>
                <div class="card-body">
                    <form method="post" role="form" th:action="@{/register_agent}" th:object="${agent}" id="formRegisterAgent">
                        <div class="form-group mb-3">
                            <label class="form-label">Username</label>
                            <input class="form-control"
                                   id="username"
                                   name="username"
                                   placeholder="Enter username"
                                   th:field="*{username}"
                                   type="text"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="Enter email address"
                                   th:field="*{email}"
                                   type="email"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control"
                                   id="password"
                                   name="password"
                                   placeholder="Enter password"
                                   th:field="*{password}"
                                   type="password"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Phone</label>
                            <input class="form-control"
                                   id="phone"
                                   name="phone"
                                   placeholder="Enter phone number"
                                   th:field="*{phone}"
                                   type="text"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Address</label>
                            <input class="form-control"
                                   id="address"
                                   name="address"
                                   placeholder="Enter address"
                                   th:field="*{address}"
                                   type="text"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Company</label>
                            <input class="form-control"
                                   id="company"
                                   name="company"
                                   placeholder="Enter company name"
                                   th:field="*{company}"
                                   type="text"
                            />
                        </div>
                        <input type="hidden" id="avatarUrl" name="avatar" th:value="${agent.avatar}" />

                        <div class="form-group mb-3">
                            <label class="form-label">Avatar</label>
                            <input class="form-control"
                                   id="avatar"
                                   placeholder="Enter avatar URL"
                                   type="file"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Avatar Preview:</label>
                            <img id="avatarPreview" src="#" alt="Avatar Preview" class="img-thumbnail" style="display: none; max-width: 200px; max-height: 200px;">
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-primary" type="submit">Register</button>
                            <span>Already registered? <a th:href="@{/agent/login_agent}">Login here</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.7/firebase-app.js';
    import { getStorage, ref, uploadBytes, getDownloadURL } from 'https://www.gstatic.com/firebasejs/9.6.7/firebase-storage.js';
    let uploadedFileUrl = '';
    let additionalImageUrls = [];
    const firebaseConfig = {
        apiKey: "AIzaSyBqaKMCa0Q0eMNplqu-SkiNS1ETo3bBcIA",
        authDomain: "finaljavatechnology.firebaseapp.com",
        projectId: "finaljavatechnology",
        storageBucket: "finaljavatechnology.appspot.com",
        messagingSenderId: "384665167842",
        appId: "1:384665167842:web:0ca24ba3098008064d7bbb",
        measurementId: "G-K72ZWMS0VR"
    };

    // Initialize Firebase and Firebase Storage
    const firebaseApp = initializeApp(firebaseConfig);
    const storage = getStorage(firebaseApp);

    const avatarInput = document.getElementById('avatar');
    const avatarPreview = document.getElementById('avatarPreview');

    avatarInput.addEventListener('change', handleAvatarUpload);

    async function handleAvatarUpload(event) {
        const file = event.target.files[0];
        const storageRef = ref(storage, `avatars/${file.name}`);
        await uploadBytes(storageRef, file);
        const downloadURL = await getDownloadURL(storageRef);
        uploadedFileUrl = downloadURL;
        avatarPreview.src = downloadURL;
        avatarPreview.style.display = 'block';

        // Lưu URL của hình ảnh vào trường ẩn
        document.getElementById('avatarUrl').value = uploadedFileUrl;
    }

    // You can use 'uploadedFileUrl' in your form submission logic
</script>

<!-- Footer Start -->
<div th:replace="layout/footer :: footer"></div>
<!-- Footer End -->

<div th:replace="layout/lib :: lib"></div>

</body>
</html>