<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<h1>Reset Password</h1>
<input type="hidden" id="clientId" name="id" th:value="*{client.id}">

<form id="resetPasswordForm" method="post" >
    <label>Current Password: </label>
    <input type="password" id="currentPassword" /><br/>

    <label>New Password: </label>
    <input type="password" id="newPassword" /><br/>

    <label>Confirm New Password: </label>
    <input type="password" id="confirmPassword" /><br/>

    <button type="submit">Update</button>
</form>

<!-- Script to handle form submission -->
<script>
    document.getElementById("resetPasswordForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent default form submission

        // Collect form data
        var currentPassword = document.getElementById("currentPassword").value;
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var idClient = document.getElementById("clientId").value;

        var requestData = {
            currentPassword: currentPassword,
            newPassword: newPassword,
            confirmPassword: confirmPassword
        };
        console.log(requestData)
        // Send form data to API endpoint
        var url = '/api/updatePass/' + idClient;
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData) // Chuyển đổi dữ liệu thành chuỗi JSON
        }).then(function(response) {
            // Check response status
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        }).then(function(data) {
            // Handle different types of responses
            if (data === "Password reset successfully") {
                alert("Password reset successfully");
                // Redirect or do something else upon successful password reset
            } else if (data === "Current password is incorrect") {
                alert("Current password is incorrect");
            } else if (data === "New password and confirm password do not match") {
                alert("New password and confirm password do not match");
            } else {
                alert("Failed to update password"); // Handle other types of errors
            }
        }).catch(function(error) {
            console.error('There has been a problem with your fetch operation:', error);
        });
    });
</script>
</body>
</html>
